<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- web端配置 -->
	<bean id="userAction" class="com.cch.web.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>

	<!-- service层配置 -->
	<bean id="userService" class="com.cch.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<!-- dao层配置 -->
	<bean id="userDao" class="com.cch.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- hibernate配置 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 1.核心配置文件,连接数据库 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 2.可选配置 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 3. 映射文件导入 -->
		<property name="mappingDirectoryLocations" value="classpath:com/cch/domain"></property>

	</bean>

	<!-- 连接数据库信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="root"></property>
		<property name="password" value="123"></property>
		<property name="jdbcUrl" value="jdbc:mysql:///test"></property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	</bean>

	<!-- 事务配置 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>